
<html>
    <head>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <title><%= appName%></title>
        <link href="css/styles.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    
    <body>
        <header class="navbar navbar-bright navbar-fixed-top" role="banner">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" href="/">Home</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                        <%for(let i=0;i<nav.length;i++){%>
                        <li class="nav-item">
                            <a class="nav-link" href=<%= nav[i].link%>><%= nav[i].title%> </a>
                        </li>
                        <%}%>
                        </ul>
                    </div>
                </nav>
                
            </div>
        </header>

        <div id="masthead">  
            <div class="container">
                <div class="row">
                <div class="col-md-7">
                    <h1><%= appName%>
                    <p class="lead"></p>
                    </h1>
                </div>
                <div class="col-md-5">
                    <div class="well well-lg"> 
                    <div class="row">
                        <div class="col-sm-12">
                        <!-- <div class="container">
                        <br>
                        <h4>Sign up!</h4>
                        <form name="signUpForm" action="/auth/signup" method="post">
                            Username: <input name="username" id="username"/><br>
                            Password: <input name="password" id="password"/><br>
                            <input type="submit" value="Sign Up"/>
                        </form>
                        </div> -->
                        
                        </div>
                    </div>
                    </div>
                </div>
                </div> 
            </div><!-- /cont -->
        
        </div>

        <div class="container" >
            <div class="row">
                
                <div class="col-md-12"> 
                
                <div class="panel">
                    <div class="panel-body">
                   
                    <!--/stories-->
                    <div class="row">    
                        <br>
                        <div class="col-md-4 col-sm-12">
                        <h4>Sign up </h4>
                        <form class="form" name="signUpForm" action="/auth/signup" method="post">
                            <div>
                                <label>Username:</label> <input name="username" id="username"/></div>
                            <div>
                                <label>Password:</label><input name="password" id="password"/>
                            </div>
                            <input class="submit-btn" type="submit" value="Sign Up"/>
                        </form>
                        <p>If you already have an account <a style="text-decoration:underline;" href="/auth/signin">Sign In</a></p>
                        </div>
                    </div>
                    
                    </div>
                </div>                                                
                </div><!--/col-12-->
            </div>
        </div>
                                                        
                                                                                        
        <hr>

        <div class="container" id="footer">
            <div class="row">
                <div class="col col-sm-12">
                
                <h1>Follow Us</h1>
                <div class="btn-group">
                <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
                <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
                <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
                </div>
                
                </div>
            </div>
        </div>

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>

</html>